@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* General rules */
body {
  font-family: "Open Sans", arial, sans-serif;
  max-width: 900px;
  margin: 25px auto;
  background: #f5f5f5;
}

header {
  text-align: center;
}

h1 {
  font-size: 3em;
}

/* Stats rules */
.stats {
  min-height: 50px;
  margin: 0 15px;
}

.rating,
.moves,
.timer {
  float: left;
  margin: 0 20px 0 0;
}

.reload {
  float: right;
  cursor: pointer;
}

.icon {
  transition: 0.3s all ease;
}

.reload:hover .icon {
  transform: rotateZ(360deg);
}

.subtext {
  margin: 0 0 0 10px;
}

/* Starting game rules */
.difficulty,
.category {
  text-align: center;
}

.difficulty-level,
.category-type
 {
  display: inline-block;
  position: relative;
  margin: 30px 10px;
  font-size: 2.5em;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  transition: 0.1s all ease;
}

.difficulty-level {
  width: 250px;
  height: 250px;
}

.category-type {
  width: 170px;
  height: 170px;
}

.difficulty-level:hover,
.category-type:hover
 {
  font-size: 3em;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}

.hover-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  color: #fff;
  line-height: 80px;
}

.level-easy {
  background-color: #e3ffd1;
}

.level-hard {
  background-color: #ffdbdd;
}

/* Board rules */
.board {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  background-color: #fff;
  margin: 0 auto;
}

.card {
  margin: 1%;
  perspective: 1000px;
}

.flipper {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transform-style: preserve-3d;
}

.flipper:hover {
  transform: rotateY(-20deg);
  -webkit-box-shadow: 10px 0 30px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 0 30px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 0 30px -10px rgba(0, 0, 0, 0.75);
}

.flipper-open {
  transform: rotateY(-180deg);
}

.flipper-open:hover {
  transform: rotateY(-180deg);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.flipper,
.card-back,
.card-front {
  height: 100%;
  width: 100%;
  position: absolute;
}

.card-back,
.card-front {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.card-back {
  z-index: 2;
  background-color: #6fa8fd;
}

.card-front {
  transform: rotateY(-180deg);
  background-color: #fd6f76;
}

.card-img {
  max-width: 100%;
}

/* Congratulations window */
.finish-window {
  background-color: #fff;
  text-align: center;
  padding: 25px 0 50px;
  position: absolute;
  width: 50%;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.finish-rating {
  color: #ffb300;
  font-size: 5em;
  padding: 0 0 25px;
}

.finish-reload {
  display: inline-block;
  margin: 40px 0 0;
  background-color: #4b93ff;
  padding: 5px 25px;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.3s all ease;
}

.finish-reload:hover {
  background-color: #386fc3;
}

.finish-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Instructions window */
.instructions-content,
.instructions-toggle {
  position: fixed;
  top: 0;
  right: 0;
  text-align: left;
}

.instructions-content {
  padding: 10px 30px;
  background-color: #fff;
}

.instructions-toggle,
.instructions-toggle-mark {
  right: 30px;
  top: 20px;
  color: #bbb;
  cursor: pointer;
  font-size: 1.5em;
  width: 70px;
  height: 70px;
}

.instructions-toggle-mark {
  background-color: #fff;
  line-height: 70px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  transition: 0.5s all ease;
}

.instructions-toggle:hover .instructions-toggle-mark {
  transform: rotateY(360deg);
}

/* Responsiveness */
@media screen and (max-width: 800px) {
  body {
    max-width: 100%;
  }

  .board {
    padding: 0;
  }

  .finish-window {
    width: 100%;
  }
}